html {
  --blending-darkest: hsl(250, 10%, 5%);
  --blending-dark: hsl(250, 10%, 12%);
  --blending-light: hsl(250, 10%, 75%);
  --blending-lighter: hsl(250, 10%, 90%);
}

body {
  font-size: 24px;
  font-family: Helvetica, sans-serif;
  margin: 0;
  margin-bottom: 2rem;
  color: var(--blending-lighter);
  background-color: var(--blending-darkest);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.invisible {
  visibility: hidden;
}

#status-message {
  background-color: hsla(0, 100%, 50%, 0.8);
  margin: 1rem;
  padding: 1rem;
  text-shadow: none;
}

a:link {
  color: #222;
  font-weight: 700;
}

a:visited {
  color: #ddd;
}

#version-info {
  position: absolute;
  right: 1.5em;
  bottom: 1em;
  font-size: 0.5em;
  color: var(--blending-dark);
}

.hidden {
  opacity: 0;
  transition: opacity 1s;
  display: none;
}

#piece-grid {
  width: 100vmin;
  height: 100vmin;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: solid 1px #444;
}

#piece-grid > * {
  border: solid 1px var(--blending-dark);
}

.piece-info {
  justify-content: space-between;
  display: flex;
  min-height: 3em;
}

.piece-info input[type=checkbox],label {
  cursor: pointer;
}

#piece-grid canvas {
}

.caption {
  flex: auto;
}

.name {
  font-weight: bold;
}

.note {
  font-size: smaller;
  margin-top: 2px;
}

.execute-toggle-container {
  flex: auto;
  align-self: flex-end;
}

.expand-collapse-link {
  height: 32px;
  justify-content: flex-end;
  align-self: flex-end;
  display: flex;
  cursor: pointer;
  margin-bottom: 3px;
}

.expand-icon, .collapse-icon polygon {
  stroke: var(--blending-light);
  stroke-width: 3;
  fill: var(--blending-dark);
}

@media all and (max-height: 568px) {
  body {
    font-size: 18px;
  }
}
