body {
  font-size: 24px;
  font-family: Helvetica, sans-serif;
  margin: 0;
  margin-bottom: 2rem;
  margin: 0;
  margin-bottom: 2rem;
  --time-blue: hsla(211, 70%, 50%, 0.6);
  --time-blue-ghostly: hsla(211, 70%, 50%, 0.3);
  --time-blue-dim: hsla(211, 70%, 50%, 0.1);
  --ring: hsla(211, 70%, 50%, 0.95);
  --diagnostic-line: hsla(44, 70%, 50%, 0.959);
}

.invisible {
  visibility: hidden;
}

#status-message {
  background-color: hsla(0, 100%, 50%, 0.8);
  margin: 1rem;
  padding: 1rem;
  text-shadow: none;
}

a:link {
  color: #222;
  font-weight: 700;
}

a:visited {
  color: #ddd;
}

#version-info {
  position: absolute;
  right: 1.5em;
  top: 1.5em;
  font-size: 0.5em;
  color: #666;
}

.hidden {
  opacity: 0;
  transition: opacity 1s;
  display: none;
}

.piece-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 320px);
  grid-gap: 1rem;
  list-style-type: none;
}

.piece-grid > * {
  border: solid 1px #444;
}

.piece-info {
  justify-content: space-between;
  display: flex;
}

.caption {
  flex: auto;
  padding-left: 0.25em;
}

.expand-link {
  height: 32px;
  justify-content: flex-end;
  display: flex;
  cursor: pointer;
}

@media all and (max-height: 568px) {
  body {
    font-size: 18px;
  }
}
